body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-67px;
  width:1169px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:3606px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:107px;
  width:1155px;
  height:3606px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:48px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:108px;
  width:1078px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#B4E4FF;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.4;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.2;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.1;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.8;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.6;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u8p000 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-2px;
  width:30px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u8p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
}
#u8p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:12px;
  width:44px;
  height:6px;
  -webkit-transform:rotate(127deg);
  -moz-transform:rotate(127deg);
  -ms-transform:rotate(127deg);
  transform:rotate(127deg);
}
#u8p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:6px;
}
#u8.compound {
  width:0px;
  height:0px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:124px;
  width:49px;
  height:31px;
  display:flex;
  opacity:0.4;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u9p000 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:10px;
  width:36px;
  height:6px;
  -webkit-transform:rotate(128deg);
  -moz-transform:rotate(128deg);
  -ms-transform:rotate(128deg);
  transform:rotate(128deg);
}
#u9p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:6px;
}
#u9p001 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:20px;
  width:70px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:6px;
}
#u9p002 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:28px;
  width:24px;
  height:6px;
  -webkit-transform:rotate(126deg);
  -moz-transform:rotate(126deg);
  -ms-transform:rotate(126deg);
  transform:rotate(126deg);
}
#u9p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:6px;
}
#u9.compound {
  width:0px;
  height:0px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:108px;
  width:93px;
  height:39px;
  display:flex;
  opacity:0.2;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.6;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.4;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.3;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.2;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:7px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:141px;
  width:12px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(128.058722360153deg);
  -moz-transform:rotate(128.058722360153deg);
  -ms-transform:rotate(128.058722360153deg);
  transform:rotate(128.058722360153deg);
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:7px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:154px;
  width:20px;
  height:3px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:118px;
  width:31px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17.mouseOver {
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:4430px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:200px;
  width:900px;
  height:4430px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:976px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:3713px;
  width:1169px;
  height:976px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:240px;
  width:258px;
  height:50px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:1112px;
  width:150px;
  height:150px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:1342px;
  width:150px;
  height:150px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1760px;
  width:150px;
  height:150px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:2202px;
  width:150px;
  height:150px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:2495px;
  width:150px;
  height:150px;
  display:flex;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:3433px;
  width:150px;
  height:150px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(63, 69, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:252px;
  width:68px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
