body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1218px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:689px;
}
#u10162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1215px;
  height:689px;
  display:flex;
}
#u10162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:682px;
}
#u10163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:682px;
  display:flex;
}
#u10163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:675px;
}
#u10164 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1497px;
  width:1200px;
  height:675px;
  display:flex;
}
#u10164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
