body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1385px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:70px;
  background:inherit;
  background-color:rgba(28, 49, 73, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  -webkit-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u10335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:1388px;
  height:70px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u10335 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10336 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:8px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10336_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10336.mouseOver {
}
#u10336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:48px;
}
#u10337 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:12px;
  width:1078px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#B4E4FF;
}
#u10337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10338 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:21px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.4;
}
#u10338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10339 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:21px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.2;
}
#u10339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10340 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:21px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.1;
}
#u10340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10341 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:21px;
  width:9px;
  height:9px;
  display:flex;
}
#u10341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10342 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:21px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.8;
}
#u10342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10343 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:21px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.6;
}
#u10343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u10344 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:28px;
  width:49px;
  height:31px;
  display:flex;
  opacity:0.4;
}
#u10344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u10345p000 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:10px;
  width:34px;
  height:6px;
  -webkit-transform:rotate(128deg);
  -moz-transform:rotate(128deg);
  -ms-transform:rotate(128deg);
  transform:rotate(128deg);
}
#u10345p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:6px;
}
#u10345p001 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:20px;
  width:68px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u10345p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:6px;
}
#u10345p002 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:28px;
  width:24px;
  height:6px;
  -webkit-transform:rotate(126deg);
  -moz-transform:rotate(126deg);
  -ms-transform:rotate(126deg);
  transform:rotate(126deg);
}
#u10345p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:6px;
}
#u10345.compound {
  width:0px;
  height:0px;
}
#u10345 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:12px;
  width:93px;
  height:39px;
  display:flex;
  opacity:0.2;
}
#u10345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u10346 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:39px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.6;
}
#u10346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u10347 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:39px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.4;
}
#u10347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u10348 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:39px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.3;
}
#u10348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u10349 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:39px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.2;
}
#u10349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10351_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:7px;
}
#u10351 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:45px;
  width:12px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(128.058722360153deg);
  -moz-transform:rotate(128.058722360153deg);
  -ms-transform:rotate(128.058722360153deg);
  transform:rotate(128.058722360153deg);
}
#u10351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10352_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:7px;
}
#u10352 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:58px;
  width:20px;
  height:3px;
  display:flex;
}
#u10352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
}
#u10353 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:1081px;
  width:187px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
}
#u10353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u10354 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:1081px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u10354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u10355 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:1081px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u10355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
}
#u10356 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1081px;
  width:187px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
}
#u10356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u10357 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1081px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u10357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u10358 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1081px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u10358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1381px;
  height:2063px;
}
#u10359 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:78px;
  width:1381px;
  height:2063px;
  display:flex;
}
#u10359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u10360 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:1155px;
  height:780px;
  display:flex;
  font-size:20px;
  color:#F2F2F2;
}
#u10360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:1038px;
  background:inherit;
  background-color:rgba(29, 45, 64, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10361 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:864px;
  width:111px;
  height:1038px;
  display:flex;
}
#u10361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:142px;
}
#u10362 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:364px;
  width:800px;
  height:142px;
  display:flex;
}
#u10362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10363 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:364px;
  width:52px;
  height:19px;
  display:flex;
}
#u10363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10364 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:453px;
  width:52px;
  height:19px;
  display:flex;
}
#u10364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:70px;
  background:inherit;
  background-color:rgba(86, 185, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10365 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:383px;
  width:25px;
  height:70px;
  display:flex;
}
#u10365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:19px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10366 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:497px;
  width:791px;
  height:19px;
  display:flex;
}
#u10366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:152px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10367 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:364px;
  width:110px;
  height:152px;
  display:flex;
}
#u10367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:70px;
  background:inherit;
  background-color:rgba(51, 193, 91, 1);
  border:none;
  border-radius:80px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10368 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:383px;
  width:61px;
  height:70px;
  display:flex;
}
#u10368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10369 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:448px;
  width:77px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u10369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10370 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:477px;
  width:77px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u10370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10371 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:477px;
  width:77px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u10371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:19px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10372 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:478px;
  width:500px;
  height:19px;
  display:flex;
}
#u10372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10373 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:477px;
  width:77px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u10373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10374 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:475px;
  width:77px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u10374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(17, 24, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10375 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:473px;
  width:77px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u10375 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:640px;
}
#u10376 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:855px;
  width:900px;
  height:640px;
  display:flex;
}
#u10376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
  background:inherit;
  background-color:rgba(30, 41, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10377 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1175px;
  width:78px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u10377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
  background:inherit;
  background-color:rgba(30, 41, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10378 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1248px;
  width:78px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u10378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
  background:inherit;
  background-color:rgba(30, 41, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10379 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1175px;
  width:105px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u10379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 130, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10380 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1111px;
  width:52px;
  height:30px;
  display:flex;
}
#u10380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 130, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10381 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1111px;
  width:52px;
  height:30px;
  display:flex;
}
#u10381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 130, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10382 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1111px;
  width:52px;
  height:30px;
  display:flex;
}
#u10382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 130, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10383 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1121px;
  width:52px;
  height:30px;
  display:flex;
}
#u10383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 130, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10384 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:1111px;
  width:52px;
  height:30px;
  display:flex;
}
#u10384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 130, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10385 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:1118px;
  width:52px;
  height:30px;
  display:flex;
}
#u10385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:43px;
  background:inherit;
  background-color:rgba(30, 41, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10386 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:1841px;
  width:311px;
  height:43px;
  display:flex;
}
#u10386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:252px;
}
#u10387 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:1752px;
  width:654px;
  height:252px;
  display:flex;
}
#u10387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:58px;
  background:inherit;
  background-color:rgba(37, 99, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u10388 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:1666px;
  width:277px;
  height:58px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u10388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10389 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1514px;
  width:842px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10390 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:2026px;
  width:842px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:62px;
}
#u10391 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:2013px;
  width:205px;
  height:62px;
  display:flex;
}
#u10391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(30, 58, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u10392 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:2013px;
  width:120px;
  height:25px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u10392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
  background:inherit;
  background-color:rgba(30, 58, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10393 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:2038px;
  width:35px;
  height:37px;
  display:flex;
}
#u10393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:227px;
}
#u10394 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:517px;
  width:490px;
  height:227px;
  display:flex;
}
#u10394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10395 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:1081px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10396 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1199px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10397 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1343px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10398 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1272px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10399 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1343px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10400 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1343px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10401 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:1418px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10402 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:1199px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10403 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:1272px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10404 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1272px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10405 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1199px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10406 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1359px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10407 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:1199px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10408 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:1272px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10409 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:1365px;
  width:38px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u10409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
