body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:426px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:490px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:34px;
  width:426px;
  height:490px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u0 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
