body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-67px;
  width:1169px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:3606px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:107px;
  width:1155px;
  height:3606px;
  display:flex;
}
#u767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:48px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:108px;
  width:1078px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#B4E4FF;
}
#u768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.4;
}
#u769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.2;
}
#u770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.1;
}
#u771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.8;
}
#u773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:117px;
  width:9px;
  height:9px;
  display:flex;
  opacity:0.6;
}
#u774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u775p000 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-2px;
  width:30px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u775p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
}
#u775p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:12px;
  width:44px;
  height:6px;
  -webkit-transform:rotate(127deg);
  -moz-transform:rotate(127deg);
  -ms-transform:rotate(127deg);
  transform:rotate(127deg);
}
#u775p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:6px;
}
#u775.compound {
  width:0px;
  height:0px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:124px;
  width:49px;
  height:31px;
  display:flex;
  opacity:0.4;
}
#u775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u776p000 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:10px;
  width:36px;
  height:6px;
  -webkit-transform:rotate(128deg);
  -moz-transform:rotate(128deg);
  -ms-transform:rotate(128deg);
  transform:rotate(128deg);
}
#u776p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:6px;
}
#u776p001 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:20px;
  width:70px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u776p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:6px;
}
#u776p002 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:28px;
  width:24px;
  height:6px;
  -webkit-transform:rotate(126deg);
  -moz-transform:rotate(126deg);
  -ms-transform:rotate(126deg);
  transform:rotate(126deg);
}
#u776p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:6px;
}
#u776.compound {
  width:0px;
  height:0px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:108px;
  width:93px;
  height:39px;
  display:flex;
  opacity:0.2;
}
#u776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.6;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.4;
}
#u778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.3;
}
#u779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:135px;
  width:27px;
  height:20px;
  display:flex;
  opacity:0.2;
}
#u780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:7px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:141px;
  width:12px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(128.058722360153deg);
  -moz-transform:rotate(128.058722360153deg);
  -ms-transform:rotate(128.058722360153deg);
  transform:rotate(128.058722360153deg);
}
#u782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:7px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:154px;
  width:20px;
  height:3px;
  display:flex;
}
#u783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:118px;
  width:31px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u784_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u784.mouseOver {
}
#u784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:4430px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:200px;
  width:900px;
  height:4430px;
  display:flex;
}
#u785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:976px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:3713px;
  width:1169px;
  height:976px;
  display:flex;
}
#u786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:240px;
  width:258px;
  height:50px;
  display:flex;
}
#u787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u788 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:1112px;
  width:150px;
  height:150px;
  display:flex;
}
#u788 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u789 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:1342px;
  width:150px;
  height:150px;
  display:flex;
}
#u789 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u790 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1760px;
  width:150px;
  height:150px;
  display:flex;
}
#u790 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u791 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:2202px;
  width:150px;
  height:150px;
  display:flex;
}
#u791 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u792 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:2495px;
  width:150px;
  height:150px;
  display:flex;
}
#u792 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u793 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:3433px;
  width:150px;
  height:150px;
  display:flex;
}
#u793 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(63, 69, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:252px;
  width:68px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
