body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1092px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:616px;
}
#u10260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:616px;
  display:flex;
}
#u10260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:615px;
}
#u10261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:626px;
  width:1092px;
  height:615px;
  display:flex;
}
#u10261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
