body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1092px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:616px;
}
#u10165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:616px;
  display:flex;
}
#u10165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:615px;
}
#u10166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:626px;
  width:1092px;
  height:615px;
  display:flex;
}
#u10166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
