body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-37px;
  width:861px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:70px;
  background:inherit;
  background-color:rgba(28, 49, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 228, 228, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  -webkit-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u6924 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:19px;
  width:861px;
  height:70px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u6924 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u6925 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:19px;
  width:31px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u6925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6925_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u6925.mouseOver {
}
#u6925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:48px;
}
#u6926 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:23px;
  width:669px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#B4E4FF;
}
#u6926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u6927 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.4;
}
#u6927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u6928 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.2;
}
#u6928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u6929 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.1;
}
#u6929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u6930 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
}
#u6930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u6931 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.8;
}
#u6931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u6932 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.6;
}
#u6932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6933 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:39px;
  width:31px;
  height:31px;
  display:flex;
  opacity:0.4;
}
#u6933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u6934p000 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:9px;
  width:32px;
  height:6px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u6934p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:6px;
}
#u6934p001 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:21px;
  width:46px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6934p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:6px;
}
#u6934p002 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:27px;
  width:24px;
  height:6px;
  -webkit-transform:rotate(114deg);
  -moz-transform:rotate(114deg);
  -ms-transform:rotate(114deg);
  transform:rotate(114deg);
}
#u6934p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:6px;
}
#u6934.compound {
  width:0px;
  height:0px;
}
#u6934 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:23px;
  width:58px;
  height:39px;
  display:flex;
  opacity:0.2;
}
#u6934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u6935 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.6;
}
#u6935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u6936 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.4;
}
#u6936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u6937 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.3;
}
#u6937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u6938 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.2;
}
#u6938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6940_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:11px;
  height:7px;
}
#u6940 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:54px;
  width:7px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(128.058722360153deg);
  -moz-transform:rotate(128.058722360153deg);
  -ms-transform:rotate(128.058722360153deg);
  transform:rotate(128.058722360153deg);
}
#u6940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6941_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:7px;
}
#u6941 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:69px;
  width:12px;
  height:3px;
  display:flex;
}
#u6941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
}
#u6942 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:846px;
  width:187px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
}
#u6942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u6943 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u6943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u6944 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u6944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
}
#u6945 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:846px;
  width:187px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
}
#u6945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u6946 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u6946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u6947 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u6947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6948_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:901px;
  height:894px;
}
#u6948 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:89px;
  width:861px;
  height:854px;
  display:flex;
}
#u6948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6949 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:413px;
  width:163px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6950 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:443px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6951 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:419px;
  width:64px;
  height:64px;
  display:flex;
}
#u6951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u6952 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:433px;
  width:38px;
  height:36px;
  display:flex;
}
#u6952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6953_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:479px;
  height:19px;
}
#u6953p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:466px;
  height:6px;
}
#u6953p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:6px;
}
#u6953p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u6953p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6953p002 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6953p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6953 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:508px;
  width:461px;
  height:1px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6954 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:524px;
  width:163px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6955 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:554px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6956 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:530px;
  width:64px;
  height:64px;
  display:flex;
}
#u6956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u6957 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:544px;
  width:38px;
  height:36px;
  display:flex;
}
#u6957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6958 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:182px;
  width:224px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6959 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:212px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6959_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6960 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:188px;
  width:64px;
  height:64px;
  display:flex;
}
#u6960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u6961 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:202px;
  width:38px;
  height:36px;
  display:flex;
}
#u6961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6962_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:479px;
  height:19px;
}
#u6962p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:466px;
  height:6px;
}
#u6962p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:6px;
}
#u6962p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u6962p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6962p002 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6962p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6962 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:277px;
  width:461px;
  height:1px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6963 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:293px;
  width:163px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u6963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6963_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6964 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:323px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u6964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6965 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:299px;
  width:64px;
  height:64px;
  display:flex;
}
#u6965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u6966 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:313px;
  width:38px;
  height:36px;
  display:flex;
}
#u6966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6967_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:479px;
  height:19px;
}
#u6967p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:466px;
  height:6px;
}
#u6967p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:6px;
}
#u6967p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u6967p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6967p002 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6967p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6967 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:397px;
  width:461px;
  height:1px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
