body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-37px;
  width:861px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:70px;
  background:inherit;
  background-color:rgba(28, 49, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 228, 228, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  -webkit-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:19px;
  width:861px;
  height:70px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u7103 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:19px;
  width:31px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7104_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7104.mouseOver {
}
#u7104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:48px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:23px;
  width:669px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#B4E4FF;
}
#u7105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.4;
}
#u7106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.2;
}
#u7107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7108 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.1;
}
#u7108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
}
#u7109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.8;
}
#u7110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:32px;
  width:6px;
  height:9px;
  display:flex;
  opacity:0.6;
}
#u7111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:39px;
  width:31px;
  height:31px;
  display:flex;
  opacity:0.4;
}
#u7112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u7113p000 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:9px;
  width:32px;
  height:6px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u7113p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:6px;
}
#u7113p001 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:21px;
  width:46px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7113p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:6px;
}
#u7113p002 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:27px;
  width:24px;
  height:6px;
  -webkit-transform:rotate(114deg);
  -moz-transform:rotate(114deg);
  -ms-transform:rotate(114deg);
  transform:rotate(114deg);
}
#u7113p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:6px;
}
#u7113.compound {
  width:0px;
  height:0px;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:23px;
  width:58px;
  height:39px;
  display:flex;
  opacity:0.2;
}
#u7113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.6;
}
#u7114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.4;
}
#u7115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.3;
}
#u7116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7117 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:50px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.2;
}
#u7117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7119_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:11px;
  height:7px;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:54px;
  width:7px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(128.058722360153deg);
  -moz-transform:rotate(128.058722360153deg);
  -ms-transform:rotate(128.058722360153deg);
  transform:rotate(128.058722360153deg);
}
#u7119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7120_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:7px;
}
#u7120 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:69px;
  width:12px;
  height:3px;
  display:flex;
}
#u7120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
}
#u7121 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:846px;
  width:187px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
}
#u7121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u7122 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u7122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u7123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:846px;
  width:187px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
}
#u7124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u7125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:846px;
  width:19px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u7126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7127_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:901px;
  height:894px;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:89px;
  width:861px;
  height:854px;
  display:flex;
}
#u7127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:413px;
  width:163px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7128_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:443px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7129_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:419px;
  width:64px;
  height:64px;
  display:flex;
}
#u7130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:433px;
  width:38px;
  height:36px;
  display:flex;
}
#u7131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7132_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:479px;
  height:19px;
}
#u7132p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:466px;
  height:6px;
}
#u7132p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:6px;
}
#u7132p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u7132p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7132p002 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7132p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:508px;
  width:461px;
  height:1px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:524px;
  width:163px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:554px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7135 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:530px;
  width:64px;
  height:64px;
  display:flex;
}
#u7135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u7136 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:544px;
  width:38px;
  height:36px;
  display:flex;
}
#u7136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7137 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:182px;
  width:224px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7138 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:212px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7139 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:188px;
  width:64px;
  height:64px;
  display:flex;
}
#u7139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u7140 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:202px;
  width:38px;
  height:36px;
  display:flex;
}
#u7140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7141_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:479px;
  height:19px;
}
#u7141p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:466px;
  height:6px;
}
#u7141p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:6px;
}
#u7141p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u7141p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7141p002 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7141p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7141 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:277px;
  width:461px;
  height:1px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7142 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:293px;
  width:163px;
  height:30px;
  display:flex;
  opacity:0.6;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B4E4FF;
  text-align:left;
}
#u7142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7143 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:323px;
  width:303px;
  height:51px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#B4E4FF;
  text-align:left;
}
#u7143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7144 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:299px;
  width:64px;
  height:64px;
  display:flex;
}
#u7144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u7145 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:313px;
  width:38px;
  height:36px;
  display:flex;
}
#u7145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7146_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:479px;
  height:19px;
}
#u7146p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:466px;
  height:6px;
}
#u7146p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:6px;
}
#u7146p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u7146p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7146p002 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7146p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7146 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:397px;
  width:461px;
  height:1px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
